<div class="rounded-lg h-12 font-semibold text-lg" style="background-color: {{ btn_bg_color }}; color: {{ btn_color }}">
  <a
    href="{{ amazon_link }}"
    class="flex justify-center items-center h-full w-full"
    target="_blank">
    <p>Buy On</p>
    <img class="pl-2" src="{{ images['amz.png'] | img_url: height: 50 }}">
  </a>
</div>