@tailwind base;
@tailwind components;
@tailwind utilities;

// Helpers
.page-width{
    max-width: var(--page-width);
    margin: 0 auto;
    padding: 0 1rem;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.scrollbar-hidden {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}